* {
    margin: 0;
    padding: 0;
}
.button-search {
    
    font-weight: 800;
    font-size: 18px;
    background-color: greenyellow;
    border-radius: 50%;
    cursor: grab;
    border: 2px dashed #89cac0;
    padding: 10px;
}
.button-search:hover,
.button-search:focus {
    background-color: aqua;
    
}
.search-form {
    margin-left: 50px;
    margin-right: 50px;
}
.img-search {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
}
.gallery {
    list-style: none;
    display: flexbox;
}
.load-more{
    background-color: yellow;
    font-weight: 800;
    font-size: 20px;
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    
}
.photo-card {
   display: inline-flex;
   gap: 20px;
}
.info {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
}
.io {
    margin-left: 200px;
}