.button-search {
    
    font-weight: 800;
    font-size: 18px;
    background-color: greenyellow;
    border-radius: 50%;
    cursor: grab;
    border: 2px dashed #89cac0;
}
.button-search:hover,
.button-search:focus {
    background-color: aqua;
    
}
.search-form {
    margin-left: 35%;
    margin-right: 35%;
    transform: translateY(100%);
}
.img-search {
    font-size: 18px;
}
.gallery {
    list-style: none;
}
.load-more{
    background-color: yellow;
    font-weight: 800;
    font-size: 18px;
}
img {
    display: block;
    width: 100%;
    height: 150px;
}